body {
    font-style: Helvetica, Sans-serif, Arial; 
}

header {
    background-color: blue;
    background-image: linear-gradient(to left, black, blue);
}

#history-container {
    margin: 20px;
    border-top: solid 1px;
}

.bg-dark-blue{
    background-color: #33475A;
}